body {
    padding: 10% 0 0 0;
    text-align: center;
}


.top, .bottom {
    height: 50%;
}

.bottom {
    margin-top: 4%;
    border-top: 1em solid #000;
    padding: 2%;
}

.bottom label {
    margin-top: 5px;;
}